@import url("https://fonts.googleapis.com/css2?family=Lato&family=Slabo+27px&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url(./img/sample-pattern.png);
}

/* navbar */
.navbar {
  background-color: white;
  padding: 10px;
}

.navbar ul li {
  display: inline;
  margin: 10px;
}

.navlink a {
  float: right;
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

img {
  float: left;
  margin-top: -5px;
  width: 150px;
}

/* konten */

h1 {
  text-align: center;
  margin: 30px;
}

h3 {
  color: blue;
}

.isi {
  /* margin: 10px; */
  margin: auto;
  padding: 20px;
  width: 700px;
  background-color: white;
  margin-top: 2px;
  padding-bottom: 40px;
}

/* footer */
footer {
  margin-top: 50px;
}

p {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 20px;
}
